version: "3.9"
services:
  db:
    image: postgres:18.0-alpine
    ports:
      - 5432:5432
    volumes:
      - ./postgres-data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=AVATAR
      - POSTGRES_DB=AVATAR

  hawky-api:
    image: avatar/hawky
    build:
      context: .
      dockerfile: hawky/Dockerfile
    depends_on:
      - db
    ports:
      - 4242:5000
    volumes:
      - ./hawky:/usr/src/bot
      - ./db:/usr/src/bot/db
    dns:
      - 8.8.8.8
      - 8.8.4.4

  iroh-api:
    image: avatar/iroh
    build:
      context: .
      dockerfile: iroh/Dockerfile
    depends_on:
      - db
    ports:
      - 5001:5431
    volumes:
      - ./iroh:/usr/src/bot
      - ./db:/usr/src/bot/db